work_dir/
tests/
venv_py37/
venv/
*.pyc
*.doc
*.docx
*.xlsx
*.tar.gz
*.zip
*.jpg
*.temp
*.unmap 
*impute2
chunk/
gen/
impute/
strand/
ResultJson/
2019*/
2020*/
*test*/
new_cancer/
win/
upload_files/
result/
hyper_risk_V2/
log/
*.log
venvpy27/
venv_py37/
venv/
phar_result/
metabolism/
genotype.txt
chr_pos_4.db
chr_pos.db

